<!-- <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field> -->
<div class="spinner" *ngIf="showSpinner">
    <app-spinner></app-spinner>
</div>

<div [hidden]="showSpinner" class="example-container">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Card Number </th>
            <td mat-cell *matCellDef="let e"> {{e.key}} </td>
        </ng-container>

        <ng-container matColumnDef="employee">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee </th>
            <td mat-cell *matCellDef="let e">
                <div *ngIf="e.employee">{{e.employee.name + ' ' + e.employee.lastName}}</div>
                <div *ngIf="!e.employee">No Employee</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let e">
                <mat-chip-list aria-label="status">
                    <mat-chip [color]="e.status == 'ENABLED' ? 'green' : 'red'" selected>{{e.status}}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Options </th>
            <td mat-cell *matCellDef="let e">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                <mat-icon>delete_forever</mat-icon>
                <span>Delete Card</span>
              </button>
                    <button mat-menu-item>
                <mat-icon>warning</mat-icon>
                <span>Disable Card</span>
                  </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-toolbar class="mat-paginator-sticky">
        <mat-toolbar-row style="background-color: #fff;">
            <mat-paginator #examplePaginator [pageSizeOptions]="[6, 25, 50]"></mat-paginator>
            <button mat-raised-button (click)="addCard()" color="blue">Add Access Card</button>
            <div class="margin"><button mat-icon-button (click)="getCards()" color="blue">
              <mat-icon class="material-icons">refresh</mat-icon>
          </button></div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
