<div class="parent">
    <mat-card class="employee-table cards-big">
        <app-employee-table (employeeSelected)="employeeSelector($event)"></app-employee-table>
    </mat-card>

    <mat-card class="employee-edit cards-small">
        <app-employee-edit [expectedEmployee]="employee" [employeeInitial]="initial" [employeePhoto]="photo"></app-employee-edit>
    </mat-card>

    <mat-card class="access-cards-table cards-big">
        <app-access-cards-table></app-access-cards-table>
    </mat-card>

    <mat-card class="access-cards-edit cards-small">
        <app-access-cards-edit></app-access-cards-edit>
    </mat-card>
</div>