.placeholder {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    color: 464646;
    font-size: 24px;
    align-items: center;
    padding: 150px 0;
    line-height: 60px;
}

.title {
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    font-weight: 400;
}

.photo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-container {
    margin-top: 10px;
    margin-left: 15px;
    width: 80%;
}

.image-name-container {
    width: fit-content;
}

.pfp {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.mat-form-field {
    width: 100%;
}

.remove-padding {
    padding-top: 80px !important;
}

.mat-red {
    background-color: #e58f8f;
    color: #fff;
}

.mat-green {
    background-color: #8FE597;
    color: #fff;
}

.full-width {
    width: 100% !important;
    min-width: unset !important;
}

.top-padding {
    padding-bottom: 25px;
}

.selects {
    margin-top: 10px;
}

.margin-top {
    margin-top: 30px;
}

.name {
    width: calc(50% - 10px);
    margin-right: 10px;
}

.upload {
    color: transparent;
}

.upload::-webkit-file-upload-button {
    visibility: hidden;
}

.upload::before {
    content: 'Select Image';
    color: fff;
    display: inline-block;
    background: #0090FD;
    border-radius: 3px;
    padding: 10px 16px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 500;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}
