.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    color: #464646;
    font-size: 30px;
}

.sub-title {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #464646;
    font-size: 20px;
}

.placeholder {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    color: 464646;
    font-size: 24px;
    align-items: center;
    padding: 150px 0;
    line-height: 60px;
}

.mat-red {
    background-color: #e58f8f;
    color: #fff;
}

.full-width {
    width: 50% !important;
    min-width: unset !important;
}
