body {
    background-color: white;
}

.content {
    padding: 10px;
}

.left-card {
    height: calc(100vh - 80px);
    width: calc(30% - 10px);
    float: left;
    margin-left: 10px;
}

.right-card {
    width: calc(70% - 10px);
    height: calc(100vh - 80px);
    float: left;
}

.card {
    background-color: #f6f6f6;
    margin-top: -15px;
    border-radius: 5px;
}

.photo {
    border-radius: 50%;
    object-fit: cover;
    margin-top: -50px;
    float: left;
}

.labels {
    flex-wrap: wrap;
}

.icon {
    color: #ffffff;
    background-color: #0090FD;
    cursor: pointer;
    border-radius: 50%;
}

.card-container {
    width: 100%;
    height: calc(100% - 30px);
    border-radius: 5px;
    background-color: #f1f0f0;
    padding: 10px;
    overflow: auto;
}

.material-card {
    display: flex;
    align-items: center;
    height: fit-content;
    margin-bottom: 10px;
}

.title {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    font-size: 24px;
}

.background {
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #0090FD;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* .icon-container {} */

i {
    font-size: 35px;
    padding: initial;
}

.card-text {
    width: 200px;
    float: left;
    margin: 0 40px 0 20px;
    line-height: 30px;
}

@keyframes green-fade-html {
    0% {
        background-color: rgb(0, 255, 55, 0.5);
    }
    100% {
        background-color: none;
    }
}

@keyframes red-fade-html {
    0% {
        background-color: rgba(255, 0, 0, 0.5);
    }
    100% {
        background-color: none;
    }
}

@keyframes green-fade-svg {
    0% {
        fill: rgb(0, 255, 55, 0.5);
    }
    100% {
        fill: '#000';
    }
}

@keyframes red-fade-svg {
    0% {
        fill: rgba(255, 0, 0, 0.5);
    }
    100% {
        fill: '#000';
    }
}

.highlight {
    scroll-behavior: smooth;
    animation: green-fade-html 0.5s ease-in 1;
}

.highlightUn {
    scroll-behavior: smooth;
    animation: red-fade-html 0.5s ease-in 1;
}

#cardActivation {
    scroll-behavior: smooth;
    animation: green-fade-svg 0.5s ease-in 1;
}

#cardaActivationUn {
    scroll-behavior: smooth;
    animation: red-fade-svg 0.5s ease-in 1;
}
