body {
    background-color: white;
}

.left-card {
    height: calc(100vh - 80px);
    width: calc(30% - 10px);
    float: left;
    margin-left: 10px;
}

.right-card {
    width: calc(70% - 10px);
    height: calc(100vh - 80px);
    float: left;
}

.card {
    background-color: #f6f6f6;
    margin-top: -15px;
    border-radius: 5px;
}

.photo {
    border-radius: 50%;
    object-fit: cover;
    float: left;
    margin: 20px 0;
}

.labels {
    flex-wrap: wrap;
}

.icon {
    color: #ffffff;
    background-color: #0090FD;
    cursor: pointer;
    border-radius: 50%;
}

.card-container {
    width: 100%;
    height: calc(100% - 30px);
    border-radius: 5px;
    background-color: #f1f0f0;
    padding: 10px;
    overflow: auto;
}

.material-card {
    display: flex;
    align-items: center;
    height: fit-content;
    margin-bottom: 10px;
}

.title {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    font-size: 24px;
}

.title-card {
    font-size: 20px;
}

.background {
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #0090FD;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

i {
    font-size: 35px;
    padding: initial;
}

.card-text {
    width: 100%;
    float: left;
    margin: 0 40px 0 20px;
    line-height: 30px;
}

@keyframes green-fade-html {
    0% {
        background-color: rgb(0, 255, 55, 0.5);
    }
    100% {
        background-color: none;
    }
}

@keyframes red-fade-html {
    0% {
        background-color: rgba(255, 0, 0, 0.5);
    }
    100% {
        background-color: none;
    }
}

@keyframes green-fade-svg {
    0% {
        fill: rgb(0, 255, 55, 0.5);
    }
    100% {
        fill: '#000';
    }
}

@keyframes red-fade-svg {
    0% {
        fill: rgba(255, 0, 0, 0.5);
    }
    100% {
        fill: '#000';
    }
}

.highlight {
    scroll-behavior: smooth;
    animation: green-fade-html 0.5s ease-out;
}

.highlightUn {
    scroll-behavior: smooth;
    animation: red-fade-html 0.5s ease-out;
}

#cardActivation {
    scroll-behavior: smooth;
    animation: green-fade-svg 0.5s ease-out;
}

#cardaActivationUn {
    scroll-behavior: smooth;
    animation: red-fade-svg 0.5s ease-out;
}

.message {
    margin: auto;
    justify-content: center;
    text-align: center;
    color: 464646;
    font-size: 24px;
    align-items: center;
    padding: 150px 0;
    line-height: 60px;
}

::ng-deep .mat-snack-bar-container {
    color: #ffffff !important;
    background-color: #f93822 !important;
    border-color: #f93822 !important;
}

::ng-deep .mat-simple-snackbar-action {
    background-color: #fff;
    color: #111;
    border-radius: 5px;
}

.mat-green {
    background-color: #8FE597;
    color: #fff;
    justify-content: center;
    width: 100px;
}

.mat-red {
    background-color: #e58f8f;
    color: #fff;
    justify-content: center;
    width: 100px;
}

.mat-blue {
    background-color: #0090FD;
    color: #fff;
    justify-content: center;
    width: fit-content;
}

.chip-status {
    display: flex;
    flex-direction: row;
}

.controls {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.toggle-text {
    font-size: 16px;
}

.slider {
    font-size: 16px;
    margin-left: auto;
}

.card-employees {
    height: 360px;
    width: 100%;
    margin: 0px 0px 20px 0;
}

.container-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-container {
    width: 100px;
    height: 140px;
}
