.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 10px;
    justify-content: space-around;
}

.card {
    height: 350px;
    width: 400px;
    margin: 0px 0px 50px 0;
}

.title {
    font-size: 20px;
}

.controls {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.toggle-text {
    font-size: 16px;
}

.slider {
    font-size: 16px;
    margin-left: auto;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #92d0ff;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #0090FD;
}

.mat-blue {
    background-color: #6abdfd;
    color: #fff;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.background {
    color: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #0090FD;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-container {
    margin: 10px 0px;
}

i {
    font-size: 35px;
}
