<div class="card-container">
    <mat-card class="card" *ngFor="let _ of [].constructor(8)">
        <div class="title">Entrance A</div>

        <div class="icon-container">
            <div class="background">
                <i class="fa-solid fa-door-closed"></i>
            </div>
        </div>

        <div class="controls">
            <div class="toggle-text">Device Active</div>
            <div class="slider">
                <mat-slide-toggle></mat-slide-toggle>
            </div>
        </div>

        <div class="controls">
            <div class="toggle-text">Uptime</div>
            <div class="slider">
                <mat-chip-list aria-label="status">
                    <mat-chip color="blue" selected>01:00:01</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div class="controls">
            <div class="toggle-text">Activations Today</div>
            <div class="slider">
                <mat-chip-list aria-label="status">
                    <mat-chip color="blue" selected>207</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div class="controls">
            <div class="toggle-text">Unsuccessful Activations</div>
            <div class="slider">
                <mat-chip-list aria-label="status">
                    <mat-chip color="blue" selected>2</mat-chip>
                </mat-chip-list>
            </div>
        </div>

    </mat-card>

</div>
