<div class="spinner" *ngIf="showSpinner">
    <app-spinner></app-spinner>
</div>

<div [hidden]="showSpinner" class="card-container">
    <mat-card class="card" *ngFor="let dev of apiData">
        <div class="title">{{dev.name}}</div>

        <div class="icon-container">
            <div class="background">
                <div [innerHTML]="getIcon(dev.name)"><i class="fa-solid fa-door-closed"></i></div>
            </div>
        </div>

        <div class="controls">
            <div class="toggle-text">Device Active</div>
            <div class="slider">
                <mat-slide-toggle #slider [checked]="dev.status" (change)="sendMQTT(slider.checked)"></mat-slide-toggle>
            </div>
        </div>

        <div class="controls">
            <div class="toggle-text">Last Update</div>
            <div class="slider">
                <mat-chip-list aria-label="status">
                    <mat-chip color="blue" selected>{{formatDate(dev.last_update)}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div class="controls">
            <div class="toggle-text">Activations Today</div>
            <div class="slider">
                <mat-chip-list aria-label="status">
                    <mat-chip color="blue" selected>{{dev.activations}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div class="controls">
            <div class="toggle-text">Unsuccessful Activations</div>
            <div class="slider">
                <mat-chip-list aria-label="status">
                    <mat-chip color="blue" selected>{{dev.unsuccessful}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>

    </mat-card>

</div>
