<!-- <header>title</header> -->
<div class="sidebar">
    <div class="logo">
        <i class="fa-solid fa-door-closed"></i>
        <div class="logo-text">Frontdoor</div>
    </div>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">

        <a mat-tab-link *ngFor="let link of routes" [routerLink]="link.routeName" (click)="activeLink = link.displayName" [active]="activeLink == link.displayName">
            <div [innerHTML]="link.icon"></div> {{link.displayName}} </a>
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>

<router-outlet></router-outlet>
