<!-- <header>title</header> -->
<div class="sidebar">
    <div class="button">
        <span class="icon"><i class="fa-solid fa-door-closed"></i></span>
        <span class="text">Logo</span>
    </div>
    <div class="button" routerLink="/dashboard" routerLinkActive="active">
        <span class="icon"><i class="fa-solid fa-chart-line"></i></span>
        <span class="text">Dashboard</span>
    </div>
    <div class="button" routerLink="/map" routerLinkActive="active">
        <span class="icon"><i class="fa-solid fa-map"></i></span>
        <span class="text">Map & Recent Access</span>
    </div>
    <div class="button" routerLink="/cards-employee">

        <span class="icon"><i class="fa-solid fa-user-plus"></i></span>
        <span class="text">Cards & Employees</span>
    </div>
</div>

<router-outlet></router-outlet>