<!-- <header>title</header> -->
<div class="sidebar">
    <div class="icon">
        <i class="fa-solid fa-door-closed"></i>
    </div>
    <div class="icon" routerLink="/dashboard" routerLinkActive="active" matTooltip="Dashboard" matTooltipClass="tooltip" matTooltipPosition="right">
        <i class="fa-solid fa-chart-line"></i>
    </div>
    <div class="icon" routerLink="/map" routerLinkActive="active" matTooltip="Map & Recent Access" matTooltipClass="tooltip" matTooltipPosition="right">
        <i class="fa-solid fa-map"></i>
    </div>
    <div class="icon" routerLink="/cards-employee" matTooltip="Cards & Employees" matTooltipClass="tooltip" matTooltipPosition="right">
        <i class="fa-solid fa-user-plus"></i>
    </div>
</div>

<router-outlet></router-outlet>
