<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6ecb1eaf-8628-4152-ba03-4cd6baa4f2d3/resourceGroups/ControlAccess/providers/Microsoft.Web/sites/ControlAccess20220725234915</ResourceId>
    <ResourceGroup>ControlAccess</ResourceGroup>
    <ApiResourceId>/subscriptions/6ecb1eaf-8628-4152-ba03-4cd6baa4f2d3/resourceGroups/ControlAccess/providers/Microsoft.ApiManagement/service/ControlAccessApi3/apis/ControlAccess</ApiResourceId>
    <OpenApiDocumentName>AccessControl</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://controlaccess20220725234915.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c74a4775-4f1a-46ad-a352-61ebfb359444</ProjectGuid>
    <MSDeployServiceURL>controlaccess20220725234915.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ControlAccess20220725234915</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ControlAccess20220725234915</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>