<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/db24e118-4308-4988-b591-68dcd9298aa8/resourceGroups/CTL_ACC/providers/Microsoft.Web/sites/ControlAccessApp</ResourceId>
    <ResourceGroup>CTL_ACC</ResourceGroup>
    <ApiResourceId>/subscriptions/db24e118-4308-4988-b591-68dcd9298aa8/resourceGroups/CTL_ACC/providers/Microsoft.ApiManagement/service/ControlAccessApi2/apis/controlaccess</ApiResourceId>
    <OpenApiDocumentName>AccessControl</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://controlaccessapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c74a4775-4f1a-46ad-a352-61ebfb359444</ProjectGuid>
    <MSDeployServiceURL>controlaccessapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ControlAccessApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ControlAccessApp</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>